.signupBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.MatCardContent {
    border-radius: 10%;
    padding: 20px;
    width: auto;
    padding: 30px;
    margin: 30px;
}

.navigare {
    text-decoration: none;
    color: grey;
    transition: all 0.3s ease;
}

.navigare:hover {
    text-decoration: underline;
}

.signup {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.mijloc4 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.butonContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.infoDiv {
    background-color: lightgreen;
    width: 850px;
    margin: 30px;
    padding: 30px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.formular {
    padding: 30px;
}